@page "/darcinfo/{release=7.0.3xx}"
@using BasicDarcInfo.Util;
@model DarcInfoModel
@{
    ViewData["Title"] = "Darc Information";
}

<h2>@Model.Release Merge</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Repo</th>
        <th>Branch</th>
        <th>Subscription</th>
        <th>Commit</th>
        <th>Days since commit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var repo in Model.RepoMergeInfoList)
    {
        <tr>
            <td>@repo.Owner/@repo.Name</td>
            <td>@repo.Branch</td>
            <td>@repo.Subscription</td>
            @if (repo.LastCommit is { } c)
            {
                <td><a href=@GitHubUtil.GetCommitUri(repo.Owner, repo.Name, c)>@c</a></td>
            }
            else
            {
                <td>missing</td>
            }
            @if (repo.LastCommitMerge is { } m)
            {
                <td>@((DateTime.UtcNow - m).TotalDays.ToString("n2"))</td>
            }
            else
            {
                <td>missing</td>
            }
        </tr>
    }
    </tbody>
</table>

<h2>Other Releases</h2>
<ul>
    @foreach (var r in new[]{ "main", "7.0.2xx", "7.0.3xx", "7.0.4xx"})
    {
        <li><a asp-page="DarcInfo" asp-route-release="@r">@r</a></li>
    }
</ul>
